{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Statistics Cards -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Asset Types</h5>
                    <p class="display-4">{{ total_asset_types }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buildings</h5>
                    <p class="display-4">{{ total_buildings }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Departments</h5>
                    <p class="display-4">{{ total_departments }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="display-4">{{ total_users }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Items -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest Asset Types</h5>
                    <ul class="list-group">
                        {% for asset_type in latest_asset_types %}
                        <li class="list-group-item">{{ asset_type.title }} ({{ asset_type.code }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest Buildings</h5>
                    <ul class="list-group">
                        {% for building in latest_buildings %}
                        <li class="list-group-item">{{ building.title }} ({{ building.code }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Latest Departments</h5>
                    <ul class="list-group">
                        {% for department in latest_departments %}
                        <li class="list-group-item">{{ department.title }} ({{ department.code }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
